<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Mi Web {% endblock %}</title>
    {% load static %} {% load static tailwind_tags %} {% tailwind_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <nav class="bg-blue-500 dark:bg-blue-800 p-4 flex justify-center space-x-4">
      <a
        href="{% url 'home' %}"
        class="text-white px-3 py-2 rounded hover:bg-blue-700 dark:hover:bg-blue-600 transition"
        >Home</a
      >
      <a
        href="{% url 'usuarios:blogpage' %}"
        class="text-white px-3 py-2 rounded hover:bg-blue-700 dark:hover:bg-blue-600 transition"
        >Blog</a
      >
      <a
        href="{% url 'users:register' %}"
        class="text-white px-3 py-2 rounded hover:bg-blue-700 dark:hover:bg-blue-600 transition"
        >Register</a
      >
      {% if request.user.is.authenticated%}
    </nav>

    <main class="p-8">
      {% block content %} De esta asombrosa Web ._. {% endblock content %}
    </main>
  </body>
</html>
